
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head><title>enkel kalkulator</title></head>
<body>

<div class='calc'>
    <div id='display' type="text" value=" " > </div>
         <button id='one'>1</button>
         <button id='two'>2</button>
         <button id='three'>3</button>
         <button id='plus'>+</button>
         <button id='four'>4</button>
         <button id='five'>5</button>
         <button id='six'>6</button>
         <button id='minus'>-</button>
         <button id='seven'>7</button>
         <button id='eight'>8</button>
         <button id='nine'>9</button>
         <button id='multiply'>x</button>
         <button id='clear'>CE</button>
         <button id='zero'>0</button>
         <button id='dec'>.</button>
         <button id='divide'>/</button>
         <button id='equals'>=</button>
    // hvordan skal jeg skrive en c knapp
         <button id='reset'>C</button>
      </div>























@*
<div id="main">
    <input id="Result" type="number" />
    <div id="keys">
        <div id="FirstRow">
            <button id="ClearAll" type="reset" value="CE" class="clean">CE</button>
            <button id="Clear" type="reset" value="C" class="clean">C</button>
            <button id="Add" type="button" value="+" class="operators operand">+</button>
        </div>
        <div id="SecondRow">
            <button id="One" type="button" value="1" class="show">1</button>
            <button id="Two" type="button" value="2" class="Show">2</button>
            <button id="Three" type="button" value="3" class="Show">3</button>
            <button id="Sub" type="button" value="-" class="operators operand">-</button>
        </div>
        <div id="ThirdRow">
            <button id="Four" type="button" value="4" class="Show">4</button>
            <button id="Five" type="button" value="5" class="Show">5</button>
            <button id="six" type="button" value="6" class="Show">6</button>
            <button id="Mul" type="button" value="*" class="operators operand">*</button>
        </div>
        <div id="FourthRow">
            <button id="Seven" type="button" value="7" class="Show">7</button>
            <button id="Eight" type="button" value="8" class="Show">8</button>
            <button id="Nine" type="button" value="9" class="Show">9</button>
            <button id="Divide" type="button" value="/" class="operators operand">/</button>
        </div>
        <div id="FifthRow">
            <button id="Zero" type="button" value="0" class="Show">0</button>
            <button id="Dot" type="button" value="." class="Show">.</button>
            <button id="Calculate" type="button" value="=" class="operand">=</button>
        </div>
    </div>
</div>

@
<form name="Calculator">
    <table>
        <tr>
        <input type="text" name="display" id="display">
        </tr>
        <tr>
  
        <td><button class="calc-btn" id="one" >1</button></td>
        <td><input class="btn" type="button" name="two" id="two" value="2"></td>
        <td><input class="btn" type="button" name="three" id="three" value="3"></td>
        <td><input type="button" class="btn" class="operator" name="plus" value="+"></td>
        <!--/tr-->
        <tr>
            <td><input type="button" name="four" class="btn" id="four" value="4"></td>
            <td><input type="button" class="btn" name="five" id="five" value="5"></td>
            <td><input type="button" name="six" class="btn" id="six" value="6" ></td>
            <td><input type="button" class="btn"  class="operator" name="minus" value="-"></td>
        </tr>
        <tr>
            <td><input class="btn" type="button" name="seven" id="seven" value="7" ></td>
            <td><input class="btn" type="button" name="eight" id="eight" value="8"></td>
            <td><input class="btn" type="button" name="nine" id="nine" value="9" ></td>
            <td><input class="btn" type="button" class="operator" name="multiply" value="*" ></td>
        </tr>
        <tr>
            <td><input class="btn" type="button" name="clear" id="clear" value="CE" ></td>
            <td><input class="btn" type="button" name="Zero" id="Zero" value="0" ></td>
            <td><input class="btn" type="button" name="equals" id="equals" value="="></td>
            <td><input class="btn" type="button" class="operator" name="divide" value="/"></td>
            <td><input class="btn" type="button" class="operator" name="reset" value="C" ></td>
        </tr>

    </table>
</form>
@*
<div class="calculator">

  <input type="text" class="calculator-screen" value="" disabled />
  
  <div class="calculator-keys">
    
    <button type="button" class="operator" value="+">+</button>
    <button type="button" class="operator" value="-">-</button>
    <button type="button" class="operator" value="*">&times;</button>
    <button type="button" class="operator" value="/">&divide;</button>

    <button type="button" value="7">7</button>
    <button type="button" value="8">8</button>
    <button type="button" value="9">9</button>


    <button type="button" value="4">4</button>
    <button type="button" value="5">5</button>
    <button type="button" value="6">6</button>


    <button type="button" value="1">1</button>
    <button type="button" value="2">2</button>
    <button type="button" value="3">3</button>


    <button type="button" value="0">0</button>
    <button type="button" class="decimal" value=".">.</button>
    <button type="button" class="all-clear" value="all-clear">AC</button>

    <button type="button" class="equal-sign operator" value="=">=</button>

  </div>
</div>*@@*
 <div class="container-fluid" id="content">

        <div id="parent" class="row text-center">
            <h1 class="text-primary text-center">Javascript Calculator</h1>
            <input type="text" class="calculator-screen" value="" disabled />
            
            <h1 id="input" class="text-primary text-center"></h1>

            <div id = "bt">
            <div id = "start" class="row text-center">
                <button id="CE" class="clear">CE</button>
                <button id="C" class="clear">C</button>
                <button id="divide" class="button">/</button>
            </div>
            <div class="row text-center">
                <button id="7" class="button">7</button>
                <button id="8" class="button">8</button>
                <button id="9" class="button">9</button>
                <button id="X" class="button">X</button>
            </div>
            <div class="row text-center">
                <button id="4" class="button">4</button>
                <button id="5" class="button">5</button>
                <button id="6" class="button">6</button>
                <button id="minus" class="button">-</button>
            </div>
            <div class="row text-center">
                <button id="1" class="button">1</button>
                <button id="2" class="button">2</button>
                <button id="3" class="button">3</button>
                <button id="plus" class="button">+</button>
            </div>
            <div class="row text-center">
                <button id="0" class="button">0</button>
                <button id="decimal" class="button">.</button>
                <button id="equal" class="button">=</button>
            </div>
            </div>

        </div>
    </div>

@*
<h2>title is testing</h2>

 <div class="container" id="content">

        <div id="parent" class="row text-center">
            
            <input type="text" class="calculator-screen" value=""  />

            <div id = "button">
            <div id = "start" class="row text-center">
                <button id="CE" class="clear">CE</button>
                <button id="C" class="clear">C</button>
                <button id="divide" class="button">/</button>
            </div>
            <div class="row text-center">
                <button id="7" class="button">7</button>
                <button id="8" class="button">8</button>
                <button id="9" class="button">9</button>
                <button id="X" class="button">X</button>
            </div>
            <div class="row text-center">
                <button id="4" class="button">4</button>
                <button id="5" class="button">5</button>
                <button id="6" class="button">6</button>
                <button id="minus" class="button">-</button>
            </div>
            <div class="row text-center">
                <button id="1" class="button">1</button>
                <button id="2" class="button">2</button>
                <button id="3" class="button">3</button>
                <button id="plus" class="button">+</button>
            </div>
            <div class="row text-center">
                <button id="0" class="button">0</button>
                <button id="decimal" class="button">.</button>
                <button id="equal" class="button">=</button>
            </div>
            </div>

        </div>
    </div>*@
</body>
</html>