
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head></head>
<body>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
@*
<form name="Calculator">
    <table>
        <tr>
            <>
            //disabled stops keyboard entries
            <input type="text" name="display" id="display" value="0" disabled>

        </tr>
        <tr>
        
    
        <td><input type="button" name="one" id="one" value="1" ></td>
        <td><input type="button" name="two" id="two" value="2" ></td>
        <td><input type="button" name="three" id="three" value="3"></td>
        <td><input type="button" class="operator" name="plus" value="+"></td>
        <!--/tr-->
        <tr>
            <td><input type="button" name="four" id="four" value="4"></td>
            <td><input type="button" name="five" id="five" value="5"></td>
            <td><input type="button" name="six" id="six" value="6" ></td>
            <td><input type="button" class="operator" name="minus" value="-"></td>
        </tr>
        <tr>
            <td><input type="button" name="seven" id="seven" value="7" ></td>
            <td><input type="button" name="eight" id="eight" value="8"></td>
            <td><input type="button" name="nine" id="nine" value="9" ></td>
            <td><input type="button" class="operator" name="multiply" value="*" ></td>
        </tr>
        <tr>
            <td><input type="button" name="clear" id="clear" value="CE" ></td>
            <td><input type="button" name="Zero" id="Zero" value="0" ></td>
            <td><input type="button" name="equals" id="equals" value="="></td>
            <td><input type="button" class="operator" name="divide" value="/"></td>
            <td><input type="button" class="operator" name="reset" value="C" ></td>
        </tr>

    </table>
</form>
@*<div class="calculator">

  <input type="text" class="calculator-screen" value="" disabled />
  
  <div class="calculator-keys">
    
    <button type="button" class="operator" value="+">+</button>
    <button type="button" class="operator" value="-">-</button>
    <button type="button" class="operator" value="*">&times;</button>
    <button type="button" class="operator" value="/">&divide;</button>

    <button type="button" value="7">7</button>
    <button type="button" value="8">8</button>
    <button type="button" value="9">9</button>


    <button type="button" value="4">4</button>
    <button type="button" value="5">5</button>
    <button type="button" value="6">6</button>


    <button type="button" value="1">1</button>
    <button type="button" value="2">2</button>
    <button type="button" value="3">3</button>


    <button type="button" value="0">0</button>
    <button type="button" class="decimal" value=".">.</button>
    <button type="button" class="all-clear" value="all-clear">AC</button>

    <button type="button" class="equal-sign operator" value="=">=</button>

  </div>
</div>*@@*
 <div class="container-fluid" id="content">

        <div id="parent" class="row text-center">
            <h1 class="text-primary text-center">Javascript Calculator</h1>
            <input type="text" class="calculator-screen" value="" disabled />
            
            <h1 id="input" class="text-primary text-center"></h1>

            <div id = "bt">
            <div id = "start" class="row text-center">
                <button id="CE" class="clear">CE</button>
                <button id="C" class="clear">C</button>
                <button id="divide" class="button">/</button>
            </div>
            <div class="row text-center">
                <button id="7" class="button">7</button>
                <button id="8" class="button">8</button>
                <button id="9" class="button">9</button>
                <button id="X" class="button">X</button>
            </div>
            <div class="row text-center">
                <button id="4" class="button">4</button>
                <button id="5" class="button">5</button>
                <button id="6" class="button">6</button>
                <button id="minus" class="button">-</button>
            </div>
            <div class="row text-center">
                <button id="1" class="button">1</button>
                <button id="2" class="button">2</button>
                <button id="3" class="button">3</button>
                <button id="plus" class="button">+</button>
            </div>
            <div class="row text-center">
                <button id="0" class="button">0</button>
                <button id="decimal" class="button">.</button>
                <button id="equal" class="button">=</button>
            </div>
            </div>

        </div>
    </div>*@

</body>
</html>