@{
    ViewData["Title"] = "Home Page";
}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
<form action="/hms/accommodations" method="GET"> 
  <div class="row">
    <div class="col-xs-6 col-md-4">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" id="txtSearch"/>
        <div class="input-group-btn">
          <button class="btn btn-primary" type="submit">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>


<img src="https://cdn.pixabay.com/photo/2016/03/09/09/10/man-1245658_1280.jpg" class=" float-left" alt="running man" style="width:150px;height:150px;position:relative">
<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.w_TYHscqro4CgZQPcIUKPAHaD4%26pid%3DApi&f=1" class=" float-right" alt="healthy foods" style="width:150px;height:150px;position:relative">


<div class="text-center">
    <h1 class="display-4"><span style="color:black;">Welcome to health 101</span></h1>
    
</div>
<style>
.firstly {
  position: relative;
  background-color: green;
  color: white;
  border: 2px solid black;
  margin: 100px;
  padding: 20px;
}
.secondly {
  position:relative;
  background-color: aqua;
  color: black;
  border: 3px yellow;
  margin: 100px;
  padding: 20px;
}
</style>
<div class="firstly">
    <h2 class="text-md-center">running is the best sport and here is why.</h2>
    <h3 class="p.thicker"> the benifts of running are as follows:</h3>
    <ol>
        <li.clid>cardio vascular training</li.clid> 
        <p>or just cardio, is a very important training for the health of the heart</p>
        <li>enhaces oxygin intake</li>
        <p>which makes for a better breathing and body functionality</p>
        <li>relives stress</li>
        <p>relifeing stress is very important because it reduceses cortizol homron that makes the body age and suffer</p>
    </ol>
</div>

<div class="secondly">
    
    <p.colorid>there are of course some <em>risks</em> that comes along with running and here are some of them:</p.colorid>
    <ul>
        <li>running can cause some tear in the <em>knees</em> and <em>shoulders</em></li>
        <li>running takes time</li><p> as everything else, running takes time and you have to spare a good amount if you want to go out for a run</p>
        <li>it can cost you some <strong>dough*</strong> </li><p> in winter when there is, snow and rain one needs to have gym membership which makes for a monthly payment thus less<strong> dough </strong>in your pucket </p>
        <p> *accoring to urban dictioanary dough means money</p>
    </ul>
</div>


<table class="table table-hover">
    <caption> activities with calories burned per hour </caption>
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">activity</th>
        <th scope="col">duration</th>
        <th scope="col">calories burned</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Running, 5 mph</td>
        <td>1 hour</td>
        <td>606</td>
    </tr>
    <tr>
        <th>2</th>
        <td>Walking, 3.5 mph</td>
        <td>1 hour</td>
        <td>314</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>Hiking</td>
        <td>1 hour</td>
        <td>438</td>
    </tr>
    </tbody>

<div class="container">
    <div class="row">
        <div class="col-*-*"></div>
        <div class="col-*-*"></div>
    </div>
    <div class="row">
        <div class="col-*-*"></div>
        <div class="col-*-*"></div>
        <div class="col-*-*"></div>
    </div>
    <div class="row">
        ...
    </div>
</div>
</table>